/* body applies to all pages */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  font-size:10vw;
}

/* hero-image, photo and picture apply specifically
to the format on the three seperate pages, in order of 1, 2, 3.
Each image is different, hense the slight variation in name */
/* Justin added max-width for responsive design */
/* hero-image used for home page background */
.hero-image {
  background-image: url("../Images/yukonriver.jpg");
  background-color: rgb(0, 0, 0);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* hero-photo used for surveying page background */
.hero-photo {
  background-image: url("../Images/rtk.jpg");
  background-color: rgb(0, 0, 0);
  height: 500px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* hero-picture used for Remote Sensing page background */
.hero-picture {
  background-image: url("../Images/helicopter.jpg");
  background-color: rgb(0, 0, 0);
  height: 500px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* hero-text specifically applies to the image used for the background/header
- with minor variations in text, but the format remains the same */

.hero-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.6);
  color: white;
  font-weight: bold;
  border: 3px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 1vw;
}
.img-text {
  background-image: url(../Images/LOGO2.2.PNG);
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0%, 0%);
  z-index: 2;
  width: 190px;
  height: 37px;
  text-align: center;
  font-size: 1vw;
  background-repeat: no-repeat;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  background-size: contain;
}

/* Though slightly convoluted, these classes apply to almost all the text on all pages
and remain a formatting staple. Through trial and error, and minor variances, we got there */

/* Display the image at 100% width, auto height, with 5 px of space, make it a a block element and centre the image, source (https://www.w3schools.com/css/css3_images.asp) */ 
a {
  max-width: 100%;
  height: auto;
  padding: 5px;
  display: block;
  float: left;
}


.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: rgb(0, 0, 0);
}
.all-browsers > h2, .browser {
  text-align: center;
  margin: 10px;
  padding: 5px;
  color: rgb(255, 195, 0);
  font-size:4vw;
}
.browser {
  background: rgb(0, 0, 0);
}
.browser > h3, p {
  text-align: center;
  margin: 4px;
  font-size:1.5vw;
  color: silver;
}
.browsers > h4 {
  padding-top: 15px;
  text-align: center;
  margin: 4px;
  font-size: 0.2vw;
  color: rgb(255, 195, 0);
}

/* Applies to all images - with the exception of the
background/header hero-image, photo, picture mentioned previously */

div.gallery {
  margin: 25px;
  float: left;
  width: 400px;
}
div.gallery img:hover {
  border: 1px;
}
div.gallery img {
  width: 100%;
  height: auto;
}

/* List format, with a minor modification to colour when adapted from w3schools.
They just do it so well, why can't we have it? Either way, it's yellow now */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 1vw;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 46px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(255, 195, 0);
}
/* Saving my butt to seprate text because Lord forbid
I use a <br> tag >:| */

.p-spacing {
  padding-bottom: 75px;
}

/* Display the image at 100% width, auto height, with 5 px of space, make it a a block element and centre the image, source (https://www.w3schools.com/css/css3_images.asp) */ 
.imgclass {
  max-width: 100%;
  height: auto;
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
